body {
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
* {
  box-sizing: border-box;
}
p {
  margin: 0;
}
h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
h3 {
  margin: 0;
}
.link {
  &:hover {
    color: var(--accent-color );
    transition: 250ms top cubic-bezier(0.4,0,0.2,1);
  }
  &:focus {
    color: var(--accent-color );
  }
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  color: #212121;
}
.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  align-items: center;
}